.table_border{
    background-color: rgb(238, 176, 176);
}
.home_table{
    background-color: antiquewhite;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
}
.button_booking{
    background-color: rgb(28, 227, 28);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 2px;
}
.form_data{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: antiquewhite;
    padding: 20px;
    width: 400px;
}
.form_Link{
    border: 1px solid black;
    text-decoration: none;
    background-color: aqua;
}
